---
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortLambdasOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: '120'
IndentWidth: '4'
LambdaBodyIndentation: Signature
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 100
PointerAlignment: Left
SortIncludes: 'false'
SortUsingDeclarations: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Auto
UseTab: Never

BraceWrapping:
  AfterExternBlock: false